body {
    background-color: rgb(241, 237, 237);
}

.card-div {
    margin: 20px 2% 20px 2%;
    background-color: rgb(241, 237, 237);

}

.top-div {
    padding: 1.25rem;
}

.all-card-div {
    margin: 10px 2% 10px 2%;
    padding: 20px 0;
    background-color: white;
}

.status-btn {
    margin-left: 50px;
}

.detail-btn:hover {
    font-size: 16px;
    font-weight: bold;
    color: #1b5fa1;
    cursor: pointer;
}

.product-img {
    text-align: start;
    width: 60%;
}

.product-price {
    text-align: center;
    width: 10%;
}

.product-status {
    text-align: center;
    width: 10%;
}

.delivery-time {
    text-align: center;
    width: 10%;
}

.detail-btn {
    text-align: center;
    width: 10%;
}

.products{
    padding-left: 30px;
}

.product-price-t {
    text-align: center;
    width: 10%;
}

.product-status-t {
    text-align: center;
    width: 10%;
}

.delivery-time-t {
    text-align: center;
    width: 10%;
}

.detail-btn-t {
    text-align: center;
    width: 10%;
}

.customer-name{
    padding-left: 30px;
}

.order-id{
    text-align: end;
    padding-right: 30px;
}

.search-bar{
    margin-left: 20px;
    width: 25vw;
}




