body {
    background-color: rgb(241, 237, 237);
}

.card-div {
    margin: 20px 2% 20px 2%;
    background-color: rgb(241, 237, 237);

}

.top-div {
    padding: 1.25rem;
}

.all-card-div {
    margin: 5vw 10% 10px 10%;
    padding: 20px 0;
    background-color: white;
}

.status-btn {
    margin-left: 50px;
}

.detail-btn:hover {
    font-size: 16px;
    font-weight: bold;
    color: #1b5fa1;
    cursor: pointer;
}

.product-div {
    text-align: start;
    width: 60%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-price {
    text-align: center;
    width: 10%;
    display: flex;
    align-items: center;
}

.product-status {
    text-align: center;
    width: 10%;
    display: flex;
    align-items: center;
}

.delivery-time {
    text-align: center;
    width: 10%;
    display: flex;
    align-items: center;
}

.detail-btn {
    text-align: center;
    width: 10%;
    display: flex;
    align-items: center;
}

.products{
    padding-left: 30px;
}

.product-price-t {
    text-align: center;
    width: 10%;
}

.product-status-t {
    text-align: center;
    width: 10%;

}

.delivery-time-t {
    text-align: center;
    width: 10%;
}

.detail-btn-t {
    text-align: center;
    width: 10%;
}

.customer-name{
    padding-left: 30px;
}

.order-id{
    text-align: end;
    padding-right: 30px;
}

.search-bar{
    margin-left: 20px;
    width: 25vw;
}

.date-div{
    margin: 8px 5vw 0 0;
}

.date-bar{
    padding-bottom: 4px !important;
    cursor: pointer;
}

.order-status-div{
    font-size: 16px;
    color: #020202;
    cursor: pointer;
}

.order-status-div:hover{
    font-size: 18px;
    font-weight: bold;
    color: #d41a46;
    cursor: pointer;
}

.order-status-div-click {
    font-size: 18px;
    font-weight: bold;
    color: #d41a46;
    cursor: pointer;
}

.product-img{
    width: 120px;
    height: 120px;
    margin-right: 20px;
}



