.roll-img-div {
    width: 40vw;
    height: 40vw;
    margin: 30px 0 0 20px;
    position: relative;
    max-width: 350px;
    max-height: 350px;
}

.roll-img {
    width: 100%;
    height: 100%;
}

.product-img {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.product-img-no-display {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.fieldset2 {
    margin-bottom: 60px;

}

.div1 {
    background-color: white;
    border: 2px solid white;
    margin: 50px 100px 20px 100px; /*上右下左*/
    padding: 20px 40px 20px 15px;
}

.div2 {
    background-color: white;
    border: 2px solid white;
    margin-bottom: 15%;
    padding: 20px 0 0 40px;
}

.div3 {
    background-color: white;
    border: 2px solid white;
    margin: 50px 100px 50px 100px; /*上右下左*/
    padding: .9375rem .9375rem;
}

legend {
    background-color: rgb(247, 243, 243) !important;
    margin: 20px 20px 20px 20px !important;
    width: auto !important;
    font-size: 1.125rem !important;
    padding: .875rem !important;
    text-transform: capitalize !important;
}

.price {
    background-color: rgb(247, 243, 243);
    font-size: 20pt;
    padding: .875rem;
    color: red;

}

.st1 {
    color: rgb(116, 110, 110);
    font-size: 12pt;
    width: auto;
    margin: 10px 30px 10px 30px;
}

body {
    background-color: rgb(247, 243, 243) !important;
}

/*#pen { !*修改按鈕*!*/
/*    position: fixed;*/
/*    right: 30px;*/
/*    bottom: 171px;*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    text-align: center;*/
/*    cursor: pointer;*/
/*}*/

/*#trash { !*刪除按鈕*!*/
/*    position: fixed;*/
/*    right: 30px;*/
/*    bottom: 101px;*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    text-align: center;*/
/*    cursor: pointer;*/
/*}*/

#shopcart { /*購物車按鈕*/
    position: fixed;
    right: 30px;
    bottom: 61px;
    width: 50px;
    height: 50px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.cart-count{
    position: fixed;
    right: 13px;
    bottom: 95px;
    width: 23px;
    height: 23px;
    text-align: center;
    color: red;
    font-weight: bold;
}

.st2 {
    font-size: 14pt;
    margin: 10px 30px 10px 30px;
}

.btn1 { /*星星按鈕*/
    margin-left: 20vw;
}

.star-rate { /*評分平均*/
    text-align: center;
    margin: 5px 0 5px 0;
    font-size: 20pt;
    color: #f6a91e;
}

.my-btn-margin {
    margin: 0 5px 0 5px;
}

.my-div-list-margin {
    margin-left: 20px;
}

.custom-message-area { /*留言區*/
    margin: 0 50px;

}

.member-account {
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 0;
}

.build-date {
    font-size: 10pt;
    color: grey;
    margin-bottom: 0;
}

.message {
    font-size: 12pt;
    margin-bottom: 0;
}

.shipping-p, .count-p {
    padding-top: 10px;
    float: left;
}

.surplus-p {
    padding: 10px 0 0 10px;
    float: left;
}

.truck-img { /*運費圖片*/
    margin: 8px 0px 0 10px;
    cursor: pointer;
}

.count-btn {
    margin: 8px 0 0 10px;
}

.shipping-alldiv, .count-div {
    margin: 8px;
}

.date {
    margin-bottom: 0px !important;
}

.line-rate:hover {
    font-size: 16px;
    font-weight: bold;
    color: #797777;
    text-decoration: underline;
}

.line-p, .line-rate {
    text-align: center;
    margin: 10px 0 0 0;
    cursor: pointer;
}

.line-p1 {
    text-align: center;
    margin: 10px 0 0 0;
}

.rate-img {
    margin-top: 13px;
}

#topStarDiv {
    margin-left: 10px;
    cursor: pointer;
}

#like {
    cursor: pointer;
}

.shipping-div:hover .dropdown-menu { /* 當滑鼠移至該元件時，才會顯示 */
    display: block;
}

.btn1 {
    margin: 30px 0 0 5px !important;
}

.cart-img {
    margin: 0 5px 5px 0;
    color: orange;
}

.shoppingCart-btn {
    margin: 0 5px;
}

.product-title{
    max-width: 50vw;
}
