
.tb1 {
    margin: 100px;

}

body {
    background-color: rgb(241, 237, 237) !important;
}

tr {
    background-color: white;

}

.tr1 {
    background-color: rgb(136, 140, 145);
    color: white;
    margin-bottom: 30px;
}

.mycheckBox {
    width: 20px;
    height: 20px;
}

.btn1 {
    text-align: right;
    margin: 0px 20px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.total {
    background-color: white;
    margin: 100px;
}

.p {
    margin-left: 55%;
    padding-top: 30px;
}

.p1 {
    text-align: right;
    margin: 0px 20px 10px 0px;
    padding-top: 10px;
    font-size: 20pt;
    color: red;
}

.shopping-item-name {
    /*width: 30vw;*/
    vertical-align:middle !important;
    padding-left: 50px !important;
    /*font-size: 12pt;*/
}

.shopping-item-img{
    width: 150px;
    height: 150px;
}

.remarks{
    text-align: right;
    margin: 0px 20px 10px 0px;
    font-size: 10pt;
    color: #8d8888;
}






