body{
    background-color: #F0F0F0;
}
.mainarea{
	width:95%;
   	margin:auto;
   	padding:5px;
}
.secondarea{
    background-color:#FFFFFF;
    box-shadow:3px 3px 5px 6px #cccccc; 
    border:solid 5px #2894FF;
    margin:auto;
    padding:10px;
}
.detailtable{
	width:95%;
	margin:auto;
	background-color: #FFFFFF;
	box-shadow:3px 3px 5px 6px #cccccc;
	border:solid 2px #FBFBFF;
	padding:10px;
}#gotop {
		width:65px;
		height:65px;
    	position: fixed;
    	border-radius: 50px;
    	right: 20px;
    	bottom: 30px;
    	padding: 10px 16px;
    	background-repeat: no-repeat;
    	background-size: cover;
    	background-image: url("../image/up.png");
    	color: white;
    	cursor: pointer;
    	z-index: 1000;
	}
	
	/* Tooltip 容器 */
.tooltipp {
	margin:auto;
    position: relative;
}
 
/* Tooltip 文本 */
.tooltipp .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* 定位 */
    position: absolute;
    bottom:35px;
    z-index: 1;
}
 
/* 鼠标移动上去后显示提示框 */
.tooltipp:hover .tooltiptext {
    visibility: visible;
}