
.portfolio-item {
    margin-bottom: 30px;
    width: auto;
}

.left-margin {
    margin-left: 30px;
}

.goTop-btn { /*回到top按鈕設計*/
    position: fixed;
    right: 30px;
    bottom: 181px;
    width: 50px;
    height: 50px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.add-btn { /*新增商品按鈕*/
    position: fixed;
    right: 30px;
    bottom: 121px;
    width: 50px;
    height: 50px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.order-btn{
    position: fixed;
    right: 30px;
    bottom: 61px;
    width: 50px;
    height: 50px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.my-searchbar {
    width: 25% !important;
    margin-top: 20px;
    margin-left: 810px;
    position: relative;
}

#searchButton{
    /*position: absolute;*/
    /*top: 0px;*/
    /*right : 0px;*/
    border: 0.5px solid #c4c1c1;
    background-color: revert;
}

.fieldset1 {
    width: 70vw;
    height: 30vw;
}

.roll-img {
    width: 70vw;
    height: 30vw;
}

.div1 {
    background-color: white;
}

.titleName {
    font-family: "Microsoft JhengHei";
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price-string {
    color: red;
    font-size: 16pt;
    font-weight: bold;
}

.all-button{
    margin: 5px 5px;
    /*border-radius: 5px;*/
}

.button-sort{
    margin: 5px 0 ;
    height: 40px;
}

.my-card{
    padding: 20px 20px 10px 20px;
}
.my-margin {
    margin-bottom: 0;
    margin-top: 10px;
}

.card-click{
    cursor: pointer;
    padding-bottom: 10px;
}

.zoom-up-img {
    transition: transform 0.5s ease;
    width: 100%;
}

.wei-grid {
    overflow: hidden;
}

.wei-grid:hover .zoom-up-img, .wei-grid:focus .zoom-up-img {
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
}

.title-div{
    height: 70px;
}

.noListDiv{
    font-weight: bold;
    font-size: 16pt;
    line-height: 100px;
    padding: 0 45% 0 40%;
}

.delete-btn{
    margin:10px 0 10px 0;
}

.modify-btn{
    margin: 0 10px 0 10px;
}

.my-card-img-div {
    position: relative;
    width: 100%;
    padding-top: 100%;
}

.my-card-img{
    position:absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.my-card-img-no-display{
    position:absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.chart-div{
    width: 500px;
    height: 250px;
    margin: 20px;
}

.all-chart-div{
    margin-bottom: 20px;
}

.trash-img{
    margin-left:10px;
}